.freecalc .row{
    display: flex;
    flex-wrap: wrap;
}
.freecalc .freecalc-tabs.row{
    display: flex;
    flex-wrap: nowrap;
}
.freecalc .ai-center{
    align-items: center;
}

.freecalc .component{
    display: block;
}
.freecalc .component [type='checkbox'],
.freecalc .component [type='radio']{
    display: none;
}
.freecalc .freecalc-column{
    display: none;
}
.freecalc .freecalc-column.active{
    display: block;
}

    /* Components */
.freecalc,
.freecalc label,
.freecalc p{
    font-size: 16px;
}
.freecalc p{
    margin: 0;
}
.freecalc .component{
    position: relative;
    cursor:pointer;
    user-select: none;
}
.freecalc .component label{
    cursor:pointer;
}
.freecalc .component {
    margin-right: 20px;
}
.freecalc .component .checked{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.freecalc .square-small-text.active .checked,
.freecalc .square-big-with-img.active .checked,
.freecalc .component [type='checkbox']:checked + .checked,
.freecalc .component [type='radio']:checked + .checked{
    background-color: rgba(192,104,110,.2);
}

.freecalc .square-check-scale{
    width: 16.66666667%;
    border: 1px solid rgba(192,104,110,.7);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.freecalc .square-small-text,
.freecalc .square-big-with-img-and-sign,
.freecalc .square-big-with-scale-img,
.freecalc .square-big-with-scale,
.freecalc .square-big-with-img{
    margin-top: -1px;
    margin-left: -1px;
    margin-right: 0;
}

/* Tabs */
ul{
    list-style: none;
}

.freecalc .component{
    font-size: 18px;
}
.freecalc .freecalc__title{
    font-size: 30px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 40px;
}
.freecalc .freecalc-tabs{
    margin: 0;
    padding: 0;
    user-select: none;
    margin-bottom: 70px;
}
.freecalc .freecalc-tab{
    padding-left: 7px;
    padding-right: 7px;
    width: 50%;
}
.freecalc .freecalc-tab__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    text-decoration: none !important;
    outline: 0 !important;
    text-align: center;
    border: 10px solid #6B6B6B;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color: #6B6B6B;
    font-size: 20px;
    line-height: 1.2;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    -webkit-transition: color .4s, border-color .4s;
    transition: color .4s, border-color .4s;
    cursor: pointer;

}
.freecalc .freecalc-tab__link small{
    display: block;
    font-weight: 500;
    font-size: 13px;
}

.freecalc .freecalc-tab__link path{
    -webkit-transition: fill .4s, border-color .4s;
    transition: fill .4s, border-color .4s;
}
.freecalc .freecalc-tab.active .freecalc-tab__link,
.freecalc .freecalc-tab__link:hover{
    border-color: #FF0000;
    color: #FF0000;
}
.freecalc .freecalc-tab.active svg path,
.freecalc .freecalc-tab__link:hover svg path{
    fill: #FF0000;
}
.freecalc .freecalc-tab__link .freecalc-tab__arrow{
    display: block;
    position: absolute;
    width: 42px;
    height: 24px;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -24px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
.freecalc .freecalc-tab__link .calculator-menu__arrow .svg{
    display: block;
    width: 42px;
    height: 24px;
}
.freecalc .template{
    display: none;
}
.freecalc .ta-center{
    text-align: center;
}
.freecalc *{
    box-sizing: border-box;
}

/* button, компоннет кнопка */
.freecalc .component.button-one{
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    background: #F3F3F3;
    transition: opacity .2s linear;
}
.freecalc .component.button-one:hover{
    opacity: .8;
}
.freecalc .ai-center{
    align-items: center;
}
.freecalc .button-one.success{
    background: #ABCF37;
    color: #fff;
}

.freecalc .button-one.remove{
    margin-top: 3px;
    background: red;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
}

    /* Groups */
.freecalc .group{
    margin-bottom: 37px;
}
.freecalc .name-group{
    font-size: 22px;
    margin-bottom: 37px;
}
.freecalc .name-group span{
    color: #FF0000;
    display: inline-block;
    margin-right: 10px;
}

/*  */
.freecalc .check-text{
    font-weight: 600;
    margin: 10px;
    min-width: 195px;
    padding: 10px 6px;
}
.freecalc .check-text:first-child{
    margin-left: 0;
}
.freecalc .check-text:last-child{
    margin-right: 0;
}
.freecalc .check-text [type='checkbox']:checked + .checked,
.freecalc .check-text [type='radio']:checked+.checked{
    background: none;
    border-color: #FF0000;
}
.freecalc .check-text [type='radio']:checked+.checked + .text,
.freecalc .check-text [type='checkbox']:checked + .checked + .text,
.freecalc .check-worktop [type='radio']:checked + .text,

.freecalc .check-worktop [type='checkbox']:checked + svg + .text,
.freecalc .check-worktop [type='radio']:checked + svg +.text,
.freecalc .check-worktop [type='checkbox']:checked + img + .text,
.freecalc .check-worktop [type='radio']:checked + img +.text,
.freecalc .check-worktop [type='checkbox']:checked + .text{
    color: #FF0000;
}

.freecalc .check-worktop [type='checkbox']:checked + svg .cls-1,
.freecalc .check-worktop [type='radio']:checked + svg .cls-1,
.freecalc .check-worktop.active .cls-1,
.freecalc .check-worktop.active .cls-1{
    fill: #FF0000;
}

.freecalc .check-worktop svg,
.freecalc .check-worktop img{
    width: 150px;
    min-height: 100px;
}
.freecalc .check-circle{
    margin-right: 20px;
}
.freecalc .check-circle:last-child{
    margin-right: 0;
}
.freecalc .check-circle .checked{
    width: 16px;
    height: 16px;
    /*margin-right: 6px;*/
    background: #6B6B6B;
    display: inline-block;
    border-radius: 50%;
    position: static;
}
.freecalc .check-circle > *,
.freecalc .check-circle .custom-check *{
    vertical-align: middle;
}
.freecalc .check-circle [type='radio']:checked+.checked,
.freecalc .check-circle [type='checkbox']:checked+.checked{
    background: #FF0000;
}


.freecalc .check-text .checked{
    border: 3px solid #6B6B6B;
    border-radius: 10px;
}

/* check-worktop */
.freecalc .check-worktop{
    max-width: 255px;
    text-align: center;
    padding: 20px 10px;
    font-weight: 500;
}
.freecalc .check-worktop img{
    margin-bottom: 2px;
    max-height: 88px;
}

.freecalc .scale-img__link{
    position: relative;
    z-index: 20;
}
.freecalc .check-worktop.active{
    color: #FF0000;
}

.freecalc .square-small-text,
.freecalc .square-big-with-img,
.freecalc .square-big-with-scale-img,
.freecalc .square-big-with-img-and-sign,
.freecalc .square-big-with-scale{
    height: 180px;
    width: 16.666667%;
    border: 1px solid #FF0000;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.freecalc .square-small-text{
    width: 20%;
    height: 70px;
    justify-content: center;
}
.freecalc .square-small-text h3{
    margin: 0;
}
.freecalc .square-small-text>*{
    line-height: 1.3;
}

.freecalc .component .row__img{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.freecalc .component .row__img img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 80%;
    max-height: 50%;
}
.freecalc .group-block{
    margin-bottom: 14px;
}

/*---*/
.freecalc .square-big-with-img-and-sign .btn-question{
    position: absolute;
    top: 0px;
    right: 0;
    display: block;
    width: 30px;
    z-index: 20;
}
.freecalc .square-big-with-img-and-sign p{
    text-transform: none;
}
.freecalc .square-big-with-img-and-sign .row__img img{
    top: -50px;
}

/*---*/

.freecalc .btn-question{
    text-decoration: none!important;
    color: #FF0000;
}
.freecalc .btn-question:hover{
    opacity: .6;
}
.freecalc .component .row__text{
    display: block;
    font-size: 14px;
    line-height: 1.25;
    color: #393939;
    text-transform: uppercase;
    position: absolute;
    z-index: 3;
    bottom: 15px;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.freecalc .row__text p{
    font-size: 14px;
}
.freecalc .component .scale-img__link{
    display: block;
    position: absolute;
    z-index: 20;
    text-align: center;
    top: 0px;
    left: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-decoration: none;
    outline: 0;
    color: #393939;
    background: none!important;
    transition: color .4s, border-color .4s;
}
.freecalc .component .scale-img__link:hover{
    color: #FF0000;
}

.freecalc .check-worktop{
    height: 160px;
    max-width: 260px;
}

/*  */
.freecalc .img-input{
    width: 100%;
    text-align: center;

}
.freecalc .visible-for-components{
    display: none;
}
.freecalc .visible-for-components.active{
    display: flex;
}
.freecalc .visible-for-components:nth-of-type(1){
    display: flex;
}

/*  */
.group > .component{
    margin-bottom: 10px;
}
.freecalc{
    position: relative;
}
.freecalc .text-input-text > *{
    vertical-align: middle;
}
.freecalc .input-red input,
.freecalc .text-input-text input{
    width: 60px;
    border: 1px solid #FF0000;
    margin-left: 5px;
    margin-right: 5px;
}

/*  */
.freecalc .worktop-comp{
    width: 960px;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}
.freecalc .worktop-comp__relative{
    position: relative;
    width: 960px;
}
.freecalc .worktop-comp [type=number]{
    border: none;
    background: none;
    outline: none;
    padding-left: 5px;
}
.freecalc .worktop-comp input{
    /*cursor:pointer;*/
}
.freecalc .check-mark{
    display: block;
    position: absolute;
    z-index: 10;
}
.freecalc .check-mark input + span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #E6340D;
}
.freecalc .check-mark input:checked + span{
    background: red;
}
.freecalc .absolute{
    position: absolute;
}

.freecalc .input-number{
    width: 62px;
    height: 30px;
    display: block;
}

/* Прямая столешница */
.freecalc .worktop-line{
    padding-top: 10px;
    padding-bottom: 10px;
}
.freecalc .worktop-line .check-mark-1{
    bottom: 41px;
    left: 193px;
}
.freecalc .worktop-line .check-mark-2{
    top: -5px;
    left: 193px;
}
.freecalc .worktop-line .check-mark-3{
    top: -5px;
    right: 185px;
}
.freecalc .worktop-line .check-mark-4{
    bottom: 41px;
    right: 19.1%;
}
/* wprice-panel */
.freecalc .worktop-line .check-mark-5{
    top: 33%;
    left: 243px;
}
/* check-stone */
.freecalc .worktop-line .check-mark-6{
    top: 44%;
    right: 358px;
}
/* check-washing */
.freecalc .worktop-line .check-mark-7{
    top: 44%;
    right: 287px;
}
/* number-width */

.freecalc .worktop-line .w1{
    top: 31.8%;
    left: 89.5%;
}
/*  */
.freecalc .worktop-line .l1{
    top: 83.4%;
    right: 47.5%;
}


/* Г - образная столешница */
.freecalc .worktop-g .check-mark-1{
    top: 42%;
    left: 20%;
}
.freecalc .worktop-g .check-mark-2{
    top: 77px;
    left: 190px;
}
.freecalc .worktop-g .check-mark-3{
    top: 14.5%;
    right: 19%;
}
.freecalc .worktop-g .check-mark-4{
    bottom: 13.4%;
    right: 19%;
}
/* wprice-panel */
.freecalc .worktop-g .check-mark-5{
    bottom: 13.5%;
    right: 34.2%;
}
/* check-stone */
.freecalc .worktop-g .check-mark-6{
    top: 38%;
    left: 33.2%;
}
.freecalc .worktop-g .check-mark-7{
    top: 30.1%;
    left:58.5%
}
/* check-washing */
.freecalc .worktop-g .check-mark-8{
    top: 38%;
    left: 33.1%;
}
/* number-width */
.freecalc .worktop-g .w1{
    top: 26.7%;
    left: 5%;
}
.freecalc .worktop-g .w2{
    bottom: 0.2%;
    right: 23.8%;
}
/*  */
.freecalc .worktop-g .l1{
    top: 0.2%;
    right: 46%;
}

.freecalc .worktop-g .l2{
    top: 47.7%;
    right: 2.7%;
}

/* П-образная столешница */
.freecalc .worktop-p .check-mark-1{
    top: 65.4%;
    left: 19.9%;
}
.freecalc .worktop-p .check-mark-2{
    top: 77px;
    left: 190px;
}
.freecalc .worktop-p .check-mark-3{
    top: 14.5%;
    right: 19%;
}
.freecalc .worktop-p .check-mark-4{
    bottom: 13.4%;
    right: 19%;
}
.freecalc .worktop-p .check-mark-5{
    bottom: 13.4%;
    right: 34.2%;
}
.freecalc .worktop-p .check-mark-6{
    bottom: 30.6%;
    left: 35%;
}

/* wprice-panel */
.freecalc .worktop-p .mark-panel{
    top: 38.1%;
    left: 33.3%;
}
/* check-stone */
.freecalc .worktop-p .mark-stone{
    top: 30%;
    left: 61.7%;
}
/* check-washing */
.freecalc .worktop-p .mark-washing{
    top: 30%;
    left: 58.5%;
}
/* number-width */
.freecalc .worktop-p .w1{
    top: 28.6%;
    left: 46%;
}
.freecalc .worktop-p .w2{
    bottom: 17.1%;
    left: 26%;
}
.freecalc .worktop-p .w3{
    bottom: 0.3%;
    right: 23.8%;
}
/*  */
.freecalc .worktop-p .l1{
    top: 0.2%;
    right: 46%;
}

.freecalc .worktop-p .l2{
    top: 39.2%;
    left: 4.9%;
}
.freecalc .worktop-p .l3{
    top: 47.6%;
    right: 2.9%;
}


/* Столешница в ванную */
.freecalc .worktop-bathroom{

}
.freecalc .worktop-bathroom .w1{
    left: 91%;
    top: 16%;
}
.freecalc .worktop-bathroom .l1{
    left: 36.5%;
    top: 77%;
}

/* Подоконник прямой*/
.freecalc .windowsill-line{

}
.freecalc .windowsill-line .w1{
    left: 91%;
    top: 45%;
}
.freecalc .windowsill-line .l1{
    left: 36.5%;
    top: 85.3%;
}

/* Подоконник угловой*/
.freecalc .windowsill-line .w1{
    left: 91%;
    top: 45%;
}
.freecalc .windowsill-line .l1{
    left: 36.5%;
    top: 85.3%;
}

/* Подоконник г-образный*/
.freecalc .windowsill-g .w1{
    top: 82%;
    left: 4.5%;
}
.freecalc .windowsill-g .w2{
    top: 34%;
    left: 90.5%;
}
.freecalc .windowsill-g .l1{
    top: 25.5%;
    left: 7%;
}
.freecalc .windowsill-g .l2{
    top: 0%;
    left: 51.5%;
}

/* Подоконник зеркальный*/
.freecalc .windowsill-mirrored .w1{
    top: 82%;
    left: 4.5%;
}
.freecalc .windowsill-mirrored .w2{
    top: 34.4%;
    left: 44%;
}
.freecalc .windowsill-mirrored .w3{
    top: 82%;
    left: 90.5%;
}
.freecalc .windowsill-mirrored .l1{
    top: 25.5%;
    left: 6.8%;
}
.freecalc .windowsill-mirrored .l2{
    top: 0.2%;
    left: 46.5%;
}
.freecalc .windowsill-mirrored .l3{
    top: 25.5%;
    left: 86.5%;
}

.freecalc .freecalc-lasttext{
    margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.freecalc .ds-none,
.freecalc .settings-calc{
    display: none;
}
.freecalc .fd-column{
    flex-direction: column;
}
.freecalc__footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.freecalc__footer h2{
    font-size: 32px;
    margin: 0;
    margin-right: 30px;
}
.freecalc__footer .total-sum{
    height: 50px;
    min-width: 200px;
    top: 40px;
    right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 8px;
    align-items: center;
    text-align: right;
    color: #006633;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.freecalc__footer .total-sum .sum{
    margin-right: 10px;
    color: red;
}
.freecalc__footer .total-sum.fixed{
    position: fixed;
    border: 3px solid red;
}

/* Детализация */
.freecalc__detailing{
    display: none;
}
.freecalc__detailing.active{
    display: block;
}
.freecalc__detailing .material-js .detailing__prop{
    width: 50%;
    text-align: right;
}
.freecalc__detailing .material-js .cat{
    color: red;
}
.freecalc__detailing .material-js .mat{

}

.freecalc__detailing .freecalc__detailing-header{
    font-size: 25px;
    margin-bottom: 20px;
}
.freecalc__detailing .detailing{
    display: flex;
}
.freecalc__detailing .detailing{
    border-bottom: 1px dashed  #BABABA;
    padding: 8px;
}
.freecalc__detailing .detailing__text{
    width: 50%;
    flex-grow: 1;
}
.freecalc__detailing .detailing__prop{
    width: 25%;
    text-align: center;
}
.freecalc__detailing .detailing__price{
    width: 25%;
    text-align: right;
}
.freecalc__detailing .detailing__price .mat{
    font-weight: 500;
    margin-right: 8px;
}
.freecalc__detailing .detailing__price .cat{
    font-size: 1.2em;
    margin-right: 8px;
    color: red;
}
.freecalc__detailing .class-stone-js{
    display: none;
}

/**/
.calc-actions__tabs{
    display: flex;
    border: 1px solid red;
}
.calc-actions__tab{
    width: 33.333333%;
}
.calc-actions__tab .calc-action{
    height: 70px;
    width: 100%;
    line-height: 70px;
    display: block;
    border: none;
    outline: none;
    background: none;
    border-right: 1px solid red;
    font-size: 18px;
    font-weight: 500;
    color: red;
    transition: all .2s linear;
}
button.not-active,
.calc-actions__tab .calc-action.not-active{
    background: #D6E1E5 !important;
    color: #535759;
    cursor: not-allowed;
    transition: all .2s linear;
    border-color: #333333 !important;

}
button.not-active:hover,
.calc-actions__tab .calc-action.not-active:hover{
    background: #D6E1E5 !important;;
}

.calc-actions__tab .calc-action i{
    font-size: 20px;
    margin-right: 10px;
}
.calc-actions__tab .calc-action:hover{
    background: rgba(192,104,110,.2);
}
.calc-actions__tab:last-child .calc-action{
    border-right: none;
}

/* Задействовать промокод */
.freecalc__promocode{
    margin-top: 30px;
    margin-bottom: 30px;
}
.freecalc__promocode p{
    margin-bottom: 6px;
}
.freecalc__promocode .form-group{
    position: relative;
}
.freecalc__promocode .form-control{
    display: block;
    width: 100%;
    background: #E6E6E6;
    border: none;
    height: 50px;
    padding-left: 20px;
    font-size: 18px;
    outline: none;
}
.freecalc__promocode button{
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 240px;
    transition: all .2s linear;
    border: 1px solid transparent;
}
.freecalc__promocode button:hover{
    opacity: .8;
}
.freecalc__promocode .enabled{
    background: rgba(102,221,170, .1);
    border: 1px solid #ABCF37;
}
.freecalc__promocode .disabled{
    background: rgba(255,8,0, .1);
    border: 1px solid rgba(255,8,0, .8);
}

    /* Всплыващее окно */
.freecalc-popup .tingle-modal-box{
    text-align: left;
    background: #fff;
    padding: 32px 50px 32px 50px;
    border: 4px solid red;
    border-radius: 10px;
    width: 400px;
}
.freecalc-popup .tingle-modal-box__content{
    padding: 0;
}
.freecalc-popup.tingle-modal{
    background: rgba(0,0,0,.3);
}
.freecalc-popup .tingle-modal-box .close{
    position: absolute;
    right: 5px;
    display: block;
    width: 25px;
    line-height: 23px;
    color: #fff;
    background: #abcf37;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    height: 25px;
    cursor: pointer;
    top: 5px;
    z-index: 5;
    margin: 5px;
}
.freecalc-popup .caption{
    font-size: 25px;
    margin-bottom: 20px;
}
.freecalc-popup input[type="text"], .calcpopup input[type="email"] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 6px;
    margin-bottom: 10px;
}
.freecalc-popup .f-regular{
    font-size: 11px;
    line-height: 1.2;
    color: rgb(136, 136, 136);
}
.freecalc-popup .tingle-modal-box button {
    background: #ABCF37;
    border: medium none currentColor;
    border-radius: 6px;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    padding: 10px 0px;
    text-align: center;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    transition: all linear .2s;
}
.freecalc-popup .tingle-modal-box.success{
    padding-left: 25px;
    padding-right: 25px;
}
.freecalc-popup .tingle-modal-box.success .caption{
    margin-bottom: 0;
}

.freecalc-popup .tingle-modal-box button:hover{
    opacity: .8;
    background: #ABCF37;
}
.freecalc .group-block.ds-block > *{
    margin-bottom: 10px;
}


@media screen and (max-width: 720px) {

    /* Columns */
    .freecalc .freecalc-tab__link{
        border-width: 3px;
    }
    .freecalc .freecalc-tab__link .freecalc-tab__arrow{
        display: none;
    }
    .freecalc .freecalc-tabs.row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .freecalc .freecalc-tabs{
        margin-bottom: 0;
    }
    .freecalc .freecalc-tab{
        margin-bottom: 15px;
        width: 100%;
    }
    .freecalc .freecalc-tab__link{
        height: 68px;
        font-size: 18px;
        border-radius: 15px;
    }
    .freecalc .worktop-comp [type=number]{
        padding-left: 0;
    }

    /*  */
    .freecalc .component{
        font-size: 16px;
    }
    .freecalc .group{
        margin-bottom: 17px;
    }
    .freecalc .name-group{
        font-size: 18px;
        margin-bottom: 17px;
    }
    /* 1 */
    .freecalc .check-text{
        min-width: 94px;
        padding: 5px 6px;
    }
    .freecalc, .freecalc label, .freecalc p{
        /*font-size: 14px;*/
        font-size: 16px;
    }
    .freecalc .check-text .checked{
        border-width: 2px;
    }
    .freecalc .group-block > .group-block{
        margin-left: 0!important;
    }
    .freecalc .group-block .edge-worktop{
        margin-left: 0 !important;
    }
    .freecalc .check-circle{
        margin-right: 10px;
    }
    .freecalc .check-circle .checked{
        width: 13px;
        height: 13px;
    }

        /* 2 */
    .freecalc .check-worktop{
        max-width: 130px;
        height: auto;
        padding: 5px;
    }
    .freecalc .check-worktop svg,
    .freecalc .check-worktop img{
        width: 100px;
        min-height: 54px;
    }

    /* столешницы */
    .freecalc .worktop-comp__relative{
        position: relative;
        width: 515px;
    }
    .freecalc .worktop-comp{
        /*max-width: 515px;*/
        overflow-x: auto;
    }
    .freecalc .worktop-comp img{
        width: 515px;
        max-width: none;
    }
    .freecalc .check-mark input + span {
        width: 10px;
        height: 10px;
    }
    .freecalc .worktop-line .check-mark-1 {
        bottom: 23px;
        left: 104px;
    }
    .freecalc .worktop-line .check-mark-2 {
        top: -2px;
        left: 104px;
    }
    .freecalc .worktop-line .check-mark-3 {
        top: -2px;
        right: 100px;
    }
    .freecalc .worktop-line .check-mark-4{
        bottom: 22px;
        right: 19.3%;
    }
    .freecalc .worktop-line .check-mark-5{
        top: 33%;
        left: 130px;
    }

    /**/
    .freecalc .input-number{
        width: 45px;
        height: 19px;
        font-size: 12px;
        padding-left: 0;
    }
    .freecalc .worktop-line .w1{
        left: 90%;
    }
    .freecalc .worktop-line .l1{
        right: 44.5%;
    }

    /* Г-образная */
    .freecalc .worktop-g .check-mark-2{
        top: 14.5%;
        left: 20%;
    }
    .freecalc .worktop-g .w1{
        top: 26.7%;
        left: 5.6%;
    }
    .freecalc .worktop-g .w2{
        bottom: 0;
        right: 21%;
    }
    .freecalc .worktop-g .l1{
        top: 0;
        right: 43%;
    }
    .freecalc .worktop-g .l2{
        right: 0;
    }

    /* П-образная */
    .freecalc .worktop-p .check-mark-2{
        top: 14.5%;
        left: 20%;
    }
    .freecalc .worktop-p .l1{
        top: 0;
        right: 43%;
    }
    .freecalc .worktop-p .l2{
        left: 5.6%;
    }
    .freecalc .worktop-p .l3{
        right: 0;
    }
    .freecalc .worktop-p .w1{
        left: 46.2%;
    }
    .freecalc .worktop-p .w2{
        left: 26.2%;
    }
    .freecalc .worktop-p .w3{
        bottom: 0;
        right: 21%;
    }

    /* Total */
    .freecalc__footer h2{
        font-size: 24px;
    }
    .freecalc__footer .total-sum{
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .calc-actions__tab .calc-action{
        line-height: normal;
        font-weight: normal;
    }
    .calc-actions__tab .calc-action i{
        font-size: inherit;
    }
}
@media screen and (max-width: 576px){
    .freecalc .freecalc__title{
        font-size: 22px;
        display: block;
    }
    .freecalc .freecalc-tab__link{
        border-width: 2px;
        font-size: 16px;
        height: 62px;
    }
    .freecalc .freecalc-tab__link small{
        font-size: 11px;
    }
    .freecalc .check-text:first-child{
        margin-left: 10px;
    }
    .freecalc .check-text:last-child{
        margin-right: 10px;
    }
    .freecalc .group-block{
        margin-left: -10px;
        margin-right: -10px;
    }
    .freecalc .group-block.row{
        justify-content: center;
    }
    .freecalc .check-text{
        width: calc(50% - 12px);
        margin: 6px !important;
    }
    .freecalc .check-worktop{
        max-width: 95px;
    }
    .freecalc .check-worktop:last-child{
        margin-right: 0;
    }
    .freecalc .check-worktop .text{
        font-size: 14px;
        word-wrap: normal;
    }

    .freecalc .check-worktop svg,
    .freecalc .check-worktop img{
        width: 90px;
    }

    .freecalc .square-small-text,
    .freecalc .square-big-with-img,
    .freecalc .square-big-with-scale-img,
    .freecalc .square-big-with-img-and-sign,
    .freecalc .square-big-with-scale{
        width: 33.333333334%;
        height: 119px;
    }
    .freecalc .group> .component{
        width: 100%;
    }
    .freecalc .name-group{
        font-size: 18px;
        font-weight: 500;
    }
    .freecalc .check-circle .checked{
        width: 14px;
        height: 14px;
    }
    .freecalc .component .row__text{
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1;
    }
    .freecalc .component .scale-img__link{
        font-size: 16px;
    }
    .freecalc .component .row__img img{
        max-width: 60%;
    }
    .freecalc .row__text .text-name{
        margin-bottom: 8px;
    }
    .freecalc .square-small-text .text-name{
        font-size: 16px;
    }
    .freecalc .square-small-text{
        height: 68px;
    }
    .freecalc .component .row__text{
        bottom: 3px;
    }
    .freecalc .square-small-text .text{
        font-size: 14px;
    }
    .group-block.calc-area > *{
        width: 100%;
    }
    .freecalc__detailing .freecalc__detailing-header{
        font-size: 18px;
        margin-bottom: 6px;
    }

    /* Detailing */
    .admin-bar .freecalc__footer .total-sum.fixed{
        top: 40px;
    }
    .freecalc__footer .total-sum.fixed{
        top: 10px;
        border-width: 1px;
        min-width: 100px;
        height: 30px;
        font-size: 18px;
        background: #fff;
        box-shadow: -2px 2px 5px rgba(0,0,0,.2);
    }
    .freecalc__footer .total-sum{
        min-width: 90px;
    }
    .freecalc__detailing .detailing{
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
    .freecalc__detailing .detailing__text{
        /*width: 80%;*/
    }

    .freecalc .calc-actions__tabs{
        display: block;
        border: none;
    }

    .freecalc .calc-actions__tab{

        display: block;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid red;
    }
    .freecalc .calc-actions__tab .calc-action{
        border: none;
        height: 50px;
    }
    .freecalc .calc-actions__tab:last-child{
        display: none;
    }
    .freecalc__promocode .form-control{
        padding-left: 10px;
    }
    .freecalc__promocode button{
        width: 120px;
    }
}